@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
	--color-fire: #ff7402;
	--color-grass: #9bcc50;
	--color-steel: #9eb7b8;
	--color-water: #4592c4;
	--color-psychic: #f366b9;
	--color-ground: #ab9842;
	--color-ice: #51c4e7;
	--color-flying: #3dc7ef;
	--color-ghost: #4d5b64;
	--color-normal: #a4acaf;
	--color-poison: #7e0058;
	--color-rock: #a38c21;
	--color-fighting: #d56723;
	--color-dark: #707070;
	--color-bug: #729f3f;
	--color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
	--color-electric: #bba909;
	--color-fairy: #fdb9e9;
	--color-shadow: #7b62a3;
	--color-unknow: #757575;
	--color-primary: #006d77;
	--color-primary-hover: rgba(131, 201, 193, 0.5);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Press Start 2P', cursive;
}



.container {
	max-width: 1200px;
	margin: 0 auto;
}



header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0;
}

.logo img {
	width: 150px;
}

header form {
	display: flex;
	align-items: center;
	gap: 15px;
}

.form-group {
	display: flex;
	align-items: center;
	gap: 10px;
	border: 1px solid #555;
	padding: 15px 20px;
	border-radius: 25px;
}

.form-group input {
	/* padding: 15px 30px; */
	font-family: inherit;
	width: 300px;
	border: none;
	outline: none;
	font-size: 15px;
}

.icon-search {
	width: 20px;
	height: 20px;
	stroke: #555;
}

.btn-search {
	border: none;
	outline: none;
	border-radius: 25px;
	padding: 15px 30px;
	font-family: inherit;
	color: #fff;
	background-color: var(--color-primary);
	cursor: pointer;
	font-weight: 500;
	letter-spacing: 2px;
}

.btn-search:hover {
	background-color: var(--color-primary-hover);
	color: #000;
}



.container-filter {
	display: flex;
}

.icon-filter {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 20px;
	cursor: pointer;
}

.icon-filter .icon {
	width: 30px;
	height: 30px;
	stroke: #555;
}

.filter-close {
	width: 90%;

}



.card-list-pokemon {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.card-pokemon {
	cursor: pointer;
	text-decoration: none;
	text-align: center;
}

.card-img {
	background-color: #f2f2f2;
	background-image: url(/poketemplate.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	height: 250px;
}

.card-img img {
	width: 75%;
	height: 75%;
}

.card-info {
	padding: 35px;
}

.card-info h3 {
	color: hsl(0, 0%, 87%);
	font-size: 100%;
}

.name-no {
	display: inline-flex;
	align-items: center;
	gap: 5px;
}

.pokemon-id {
	display: block;
	color: hsl(0, 0%, 67%);
	margin-bottom: 15px;
	font-size: 100%;
}

.card-types {
	display: flex;
	/* gap: 10px; */
	margin-top: 10px;
}

.card-types span {
	/* font-size: 12px; */
	/* padding: 5px; */
	/* border-radius: 5px; */
	color: transparent;
}



.normal {
    /* background-color: var(--color-normal); */
	background-image: url(/normal.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.fighting {
    /* background-color: var(--color-fighting); */
	background-image: url(/fighting.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.flying {
    /* background-color: var(--color-flying); */
	background-image: url(/flying.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.poison {
    /* background-color: var(--color-poison); */
	background-image: url(/poison.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ground {
    /* background-color: var(--color-ground); */
	background-image: url(/ground.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.rock {
    /* background-color: var(--color-rock); */
	background-image: url(/rock.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.bug {
    /* background-color: var(--color-bug); */
	background-image: url(/bug.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ghost {
    /* background-color: var(--color-ghost); */
	background-image: url(/ghost.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.steel {
    /* background-color: var(--color-steel); */
	background-image: url(/steel.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.fire {
    /* background-color: var(--color-fire); */
	background-image: url(/fire.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.water {
    /* background-color: var(--color-water); */
	background-image: url(/water.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.grass {
    /* background-color: var(--color-grass); */
	background-image: url(/grass.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.electric {
    /* background-color: var(--color-electric); */
	background-image: url(/electric.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.psychic {
    /* background-color: var(--color-psychic); */
	background-image: url(/psychic.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ice {
    /* background-color: var(--color-ice); */
	background-image: url(/ice.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.dragon {
    /* background-color: var(--color-dragon); */
	background-image: url(/dragon.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.dark {
    /* background-color: var(--color-dark); */
	background-image: url(/dark.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.fairy {
    /* background-color: var(--color-fairy); */
	background-image: url(/fairy.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.unkown {
    /* background-color: var(--color-unknow); */
	background-image: url(/unkown.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.shadow {
    /* background-color: var(--color-shadow); */
	background-image: url(/shadow.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}



.container-filters {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: -300px;
	width: 250px;
	color: #555;
	background-color: #f2f2f2;
	height: 100%;
	padding-top: 140px;
	transition: all 0.3s linear;
}

.container-filters.active {
	left: 0;
}

.filter-by-type {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.filter-by-type span {
	font-weight: 700;
	font-size: 22px;
}

.container-close-filters {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	margin-top: 3%;
	margin-left: 2%;
	color: #333;
}

.group-type {
	display: flex;
	gap: 10px;
	margin-left: 15px;
}

.group-type label {
	cursor: pointer;
}



.main-pokemon {
	display: flex;
	flex-direction: column;
	margin-top: 100px;
	margin-bottom: 50px;
	background-blend-mode: soft-light, normal;
}

.header-main-pokemon {
	margin-top: 20px;
	display: flex;
	align-items: center;
	position: relative;
}

.number-pokemon {
	position: absolute;
	z-index: 1;
	text-align: center;
	top: -75px;
	left: 0;
	font-size: 150px;
	font-weight: 700;
	color: var(--color-primary-hover);
}

.container-img-pokemon {
	order: 2;
	flex: 1;
	padding: 25px 25px 25px 0;
	height: 600px;
}

.container-img-pokemon img {
	height: 100%;
	width: 100%;
	z-index: 1;
}

.container-info-pokemon {
	display: flex;
	flex-direction: column;
	order: 1;
	flex: 1;
	color: rgba(235, 247, 245, 0.9);
}

.container-info-pokemon h1 {
	text-align: right;
	font-size: 60px;
}

.info-pokemon {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.group-info{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.group-info p {
	font-weight: 700;
	font-size: 20px;
}



.container-stats {
	display: flex;
	gap: 50px;
	align-items: center;
	color: rgba(235, 247, 245, 0.9);
}

.stats {
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex: 1;
}

.stat-group {
	display: flex;
	align-items: center;
	gap: 20px;
}

.stat-group span {
	flex: 20%;
	font-weight: 500;
	font-size: 18px;
}

.progress-bar {
	width: 100% !important;
	height: 15px;
	background-color: rgba(163, 195, 115, 0.5);
	border-radius: 10px;
	overflow: hidden;
}

.progress-fill {
	height: 100%;
	background-color: rgba(41, 78, 81, 0.6);
	border-radius: 10px;
	transition: width 0.5s ease-in-out;
}



.p-search{
	margin-bottom: 30px;
	font-size: 22px;
}

.p-search span{
	font-weight: 700;
}



.container-loader{
	display: flex;
	justify-content: center;
	margin: 200px 0;
}


.container-btn-load-more{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.btn-load-more{
	border: none;
	padding: 15px 40px;
	font-family: inherit;
	background-color: var(--color-primary);
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
}

.btn-load-more:hover{
	background-color: var(--color-primary-hover);
	color: #000;
}